/////////////////////////////////////////////////////////////////////////////
//
// RCDATA
//
// https://docs.microsoft.com/en-us/windows/win32/menurc/resource-definition-statements


#include "resource.h" // including this here throws an error, may have to do with windres.exe?


//    #define ID_EN_US_AFF                   1001
//    #define ID_EN_US_DIC                   1002



//BACKGROUND				IMGJPG					"bg.jpg"
//NAMELIST				BINARY					"name.lst"


IDI_ICON1 ICON "icon.ico"
101 ICON DISCARDABLE "icon.ico"
IDR_WAV1 RCDATA "music.wav"
FONT_RESOURCE RCDATA "FreeSans.ttf"

//1001 BINARY "en_US.aff"
//1002 BINARY "en_US.dic"


1 VERSIONINFO
FILEVERSION 1, 1, 0, 1000
PRODUCTVERSION 1, 1, 0, 1000
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x9L
#else
 FILEFLAGS 0x8L
#endif
 FILEOS 0x4L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "Comments", "Created By Corey Nguyen"
            VALUE "CompanyName", "n/a"
            VALUE "FileDescription", "Replaces files in the existing .bix / .big"
            // (Major version).(Minor version).(Revision number).(Build number)
            VALUE "FileVersion", "1, 1, 0, 1000"
            VALUE "ProductVersion", "1, 1, 0, 1000"
            VALUE "InternalName", "dogpack"
            VALUE "ProductName", "dogpack"
            VALUE "OriginalFilename", "dogpack.exe"
            VALUE "LegalCopyright", "None"
            VALUE "PrivateBuild", "RCVERSION-20030212_100"
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        /* The following line should only be modified for localized versions.     */
        /* It consists of any number of WORD,WORD pairs, with each pair           */
        /* describing a language,codepage combination supported by the file.      */
        /*                                                                        */
        /* For example, a file might have values "0x409,1252" indicating that it  */
        /* supports English language (0x409) in the Windows ANSI codepage (1252). */

        VALUE "Translation", 0x409, 1252

    END
END


